.form-wrapper{
	max-width: 500px;
	background-color: #f4f7f8;
	margin: auto;

}

.form-wrapper input, .form-wrapper textarea, .form-wrapper select{
	font-family: serif;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	padding: 7px;
	width: 90%;
	background-color: #e8eeef;
	color: #8a97a0;
	margin-bottom: 30px;
	

}

.form-wrapper input:focus, .form-wrapper textarea:focus, .form-wrapper select:focus{
	background:#d2d9dd;
}

.form-wrapper .number{
	background: green;
	color: white;
	height: 30px;
	height: 30px;
	font-size: 10px;
	border-radius: 15px 15px 15px 0px;
	padding: 5px 10px;
}

.form-wrapper input[type="submit"]{
	padding: 20px 40px;
	background-color: green;
	font-size: 18px;
	color: white;
}

.form-wrapper input[type="submit"]:hover{
	background-color: #109177;
}

.form-wrapper legend{
	font-size: 20px;
	margin-bottom: 20px;
}

.form-wrapper select, .form-wrapper textarea{
	margin-right: 15px;
	margin-left: 15px;
}


.form-wrapper input{
	margin-right: 15px;
	margin-left: 15px;
}



